
{% include 'header.html' %}


<br><br>
{% for factura in facturas %}
    
    <form method="post" action="/admin/update_factura" enctype="multipart/form-data">

        <div class="card">
            <div class="card-header">
                Editar Factura
            </div>
            <div class="card-body">
                
                <p class="card-text">
                    <div class="form-group">
                        <label for="txtIdfactura">ID Factura:</label>
                        <input id="txtIdfactura" value="{{factura[0]}}" class="form-control" type="text" name="txtIdfactura" readonly>
                    </div>
                    <div class="form-group">
                        <label for="txtFecha">Fecha:</label>
                        <input id="txtFecha" value="{{factura[1]}}" class="form-control" type="text" name="txtFecha" readonly>
                    </div>
                    <div class="form-group">
                        <label for="txtIdentificacion">Identificacion:</label>
                        <input id="txtIdentificacion" value="{{factura[2]}}" class="form-control" type="text" name="txtIdentificacion" required>
                    </div>
                    <div class="form-group">
                        <label for="txtIdvehiculo">ID Vehiculo:</label>
                        <input id="txtIdvehiculo" value="{{factura[3]}}" class="form-control" type="text" name="txtIdvehiculo" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Actualizar">
                        <a href="{{url_for('index_factura')}}" class="btn btn-primary">Regresar</a>                        
                    </div>
    
                </p>
            </div>
        </div>

       
    </form>

{% endfor %}

{% include 'footer.html' %}